.button {
  color: #fff;
  background-color: #048bf1f5;
  border: none;
  margin-left: 5pc;
  padding: 8px 4pc;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #45a049;
  color: #fff;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button.invalid {
  background-color: #848484;
  cursor: not-allowed;
}